<div class="row no-gutters">
  <div class="col-md-6 no-gutters justify-content-left align-items-left">
    <md-editor
      #md="ngModel"
      name="Content"
      (onEditorLoaded)="onEditorLoaded($event)"
      [preRender]="preRender"
      [postRender]="postRender"
      (onPreviewDomChanged)="onPreviewDomChanged($event)"
      [upload]="doUpload"
      [(ngModel)]="content"
      [mode]="mode"
      [options]="options"
      required
      maxlength="2000"
      height="400px"
    ></md-editor>
  </div>
  <div class="col-md-6 d-flex no-gutters p-0">
    <markdown class="variable-binding" [data]="content" emoji></markdown>
  </div>
</div>
